@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #482A09;
  --font-lora: 'Lora', serif; 
  --font-assistant: 'Assistant', sans-serif;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lora); 
}

.font-admin {
  font-family: var(--font-assistant);
}